.button-body {
  border-style: none;
  border-radius: 3%;
  margin: 70px auto 0px auto;
  width: 250px;
  letter-spacing: 2px;
  height: 40px;
  background-color: darkorange;
  font-size: 20px;
  color: white;
}

i {
  float: right;
  margin-top: 11px;
  margin-right: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .button-section {
    background-color: #002870;
    padding: 12.5px 0px 12.5px 0px;
  }

  .button-body {
    margin: auto;
  }
}
